body {
  padding-top: 0px;
}

#search-box{
	width: 60%;
	display:block;
	margin-left: 	20%;
	margin-right: 20%;
}

#search-bar{
	width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#search-bar input {
  width: 88%;
  float: left;
  display: inline;
}
#search-bar button {
  float: right;
  display: inline;
}

.modal-dialog {
  width: 90%;
  left: 5%;
  margin: 0px;
}

#search-submit{
	/*width:auto;*/
}

.navbar{
	border-bottom:0;
}

#username{
  cursor: hand;
  cursor: pointer;
}

#register-button{
  height: 0px;
  width: 0px;
}

.error{
  color: red;
}
#offerForm {
}
.transition-all {
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
  
#postButton{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  top:10px;
}
#username{
  color: white;
  padding-top: 6px;
}
.hidden {
  display: none;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.transaction{
  margin-left: 30px;
}

.transactionBtn{
  float: right;
  margin-right: 5px;
}
