body {
  padding-top: 0px;
}

#search-box{
	width: 60%;
	display:block;
	margin-left: 	20%;
	margin-right: 20%;
}

#search-bar{
	width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#search-bar input {
  width: 90%;
  float: left;
  display: inline;
}
#search-bar button {
  float: right;
  display: inline;
}

.modal-dialog {
  width: 90%;
  left: 5%;
  margin: 0px;
}

#search-submit{
	/*width:auto;*/
}

.navbar{
	border-bottom:0;
}

#username{
  cursor: hand;
  cursor: pointer;
}
