body {
  padding-top: 0px;
}

#search-box{
	width: 60%;
	display:block;
	margin-left: 	20%;
	margin-right: 20%;
}

#search-bar{
	width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#search-bar input {
  width: 88%;
  float: left;
  display: inline;
}
#search-bar button {
  float: right;
  display: inline;
}

.modal-dialog {
  width: 90%;
  left: 5%;
  margin: 0px;
}

#search-submit{
	/*width:auto;*/
}

.navbar{
	border-bottom:0;
}
.navbar-brand {
  padding: 9px 15px 9px;
}

.jumbotron div {
  text-align: center;
}
.jumbotron p {
  opacity: 0.6;
}


#username{
  cursor: hand;
  cursor: pointer;
}

#register-but{
  height: 0px;
  width: 0px;
}

.error{
  color: red;
}
#offerForm {
}
.transition-all {
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
  
#postButton{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  top:10px;
}
#username{
  color: white;
  padding-top: 6px;
}
.hidden {
  display: none;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.transaction{
  text-align: center;
  margin-top:10px;
}
.transaction:hover{
  box-shadow: 0px 0px 3px 3px black;
}
.btn-group .btn {
  margin-bottom:10px;
}

#myTransactionModalBodyContainer .row {
  width: 100%;
  padding: 5px;
}

.transactionBtn{
  float: right;
  margin-right: 5px;
}
.search-result {
  margin-top: 10px;
  text-align: center;
}
.search-result:hover {
  box-shadow: 0px 0px 3px 3px black;
}
.search-result a {
  margin-bottom: 10px;
}

.btn {
  background-image: none;
  background-repeat: none;
  border: none;
}
.btn:hover {
  border: none;
}

